#game-screen {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2em 2em 1fr;
    gap: 32px;
}

#message-box-2 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.title {
    display: flex;
    font-size: 1.5em;
    font-weight: bold;
    align-items: flex-end;
    justify-content: center;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
}

#player2-gameboard .cell {
    cursor: crosshair;
}

#player2-gameboard .cell:hover {
    border-color: greenyellow;
}