#start-screen {
    position: absolute;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

label {
    font-size: 1.5em;
    font-weight: bold;
}

input {
    font-size: 1.25em;
}

